<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<!--<add key="FullURL" value="http://salesnrich.com" />-->
<add key="SecureURL" value="https://salesnrich.com" />
<add key="FullURL" value="http://192.168.1.77"/>
			<add key="BaseURL2" value="http://salesnrich.com" />
		<add key="SNR_Dir" value="C:\\salesNrich\\SNR\\"/>
		<add key="FromMail" value="salesnrich.info@gmail.com" />
		<add key="Password" value="fohcijtqujnqyqcn" />
		<add key="ToMail" value="bijuksaitrich@gmail.com" />
	</appSettings>
</configuration>